.idea
/conroy_local_test
/out
/path
/llvmgen
/checkir
/llvmchecker
*.iml
diff
llvm_ir.ll
llvm_ir_raw.ll
error.txt
tests/ir
tests/ir_std
tests/asm
tests/ans
tests/output
tests/error.txt
tests/ARM_raw.txt
tests/llvm_ir_raw.txt
compiler.jar
tests/lib/libsysy.so
.idea/workspace.xml
sylib.ll
out.ll
main.ll
testcase.in
testcase.out
testcase.sy
performance
testcase.s
### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
